version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: product-api
    ports:
      - '5000:5000'
    environment:
      - MONGO_URI=mongodb://mongo:27017/products
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:7
    container_name: mongo
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
